
.join-instruction {
    height: 600px;
    color:rgb(248, 165, 10);
    text-align: center;
    font-family: carnivalee-freakshow;
    background-image: url('./assets/images/background/playerNight/Mountain\ 02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-left;
}

.join-instruction h1 {
    padding-top: 60px;
    font-size: 70px;

}

.join-instruction h2 {
    font-size: 35px;
}

.join-instruction input {
    background-color: rgba(216, 125, 5, 0.945);
    height: 40px;
    border: unset;


}

.join-instruction button {
    font-family: carnivalee-freakshow; 
    font-size: 20px;
    color: white;
    background-color: rgba(216, 125, 5, 0.945);
    padding: 5px 10px 10px 10px;
    border: unset;
    margin: 30px;

}