
.ss-day {
    height: 600px;
    color:rgb(95, 47, 2);
    font-family: carnivalee-freakshow;
    background-image: url('./assets/images/background/villageStreetDay/2703.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ss-day h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 30px;


}

.ss-day h3 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.ss-day button {
    margin-left: 90px;

}

.ss-day img {
    height: 80px;
    padding-left: 100px;
    margin: 10px;
    border: tomato;
    border-top-width: thick;

}
