
.ss-night {
    height: 600px;
    color:rgb(199, 48, 21);
    font-family: carnivalee-freakshow;
    background-image: url('./assets/images/background/villageStreetNight/11Z_2104.w026.n002.345B.p1.345.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ss-night h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;


}

.ss-night h3 {
    font-size: 40px;
    text-align: right;
    padding-right: 30px;
    padding-top: 210px;
}

.ss-night button {
    margin-left: 90px;

}

.ss-night img {
    height: 80px;
    padding-left: 100px;
    margin: 10px;
    border: tomato;
    border-top-width: thick;

}
