
.game-instruction {
    height: 600px;
    color:rgb(95, 47, 2);
    font-family: carnivalee-freakshow;
    background-image: url('../assets/images/background/villageStreetDay/2703.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}

.game-instruction h1 {
    font-size: 70px;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;

}

.game-instruction h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.game-instruction button {
    margin-left: 90px;

}
