
.lounge {
    height: 100vh;
    color:rgba(216, 125, 5, 0.945);
    font-family: carnivalee-freakshow;
    text-align: center;
}



.lounge img {
    height: 40px;
    padding-left: 10px;
    margin: 10px;
    border: tomato;
    border-top-width: thick;

}
